<span class="content">

	<%="#{notification_message_tokens[0]}"%> has invited you to a <b>new conversation</b>:
	<div class="notification-core">
		"<%="#{notification_message_tokens[1]}"%>"
	</div>
	<% if notification_message_tokens[2].length > 0 %>
		message: <%= "#{notification_message_tokens[2]}" %>
	<% end %>

</span>

<div class="timestamp">
	sent <%= time_ago_in_words(notification.created_at) %> ago.
</div>