<span class="content">
	<b><%="#{notification_message_tokens[0]}"%></b> invites you to a debate:<br />
	<i>"<%="#{notification_message_tokens[1]}"%>"</i><br />
	<% unless notification_message_tokens[2].length <= 0 %>
		<b><small>message: </small></b><%= "#{notification_message_tokens[2]}" %>
	<% end %>
</span>

<div class="timestamp">
	sent <%= time_ago_in_words(notification.created_at) %> ago.
</div>