<span class="content">
	<b><%="#{notification_message_tokens[0]}"%></b> is now following your debates!<br />
</span>

<div class="timestamp">
	sent <%= time_ago_in_words(notification.created_at) %> ago.
</div>