<span class="content">
	A <b>new vupnt</b> on your debate:<br />

	<div class="notification-core">
	</b><%="#{notification_message_tokens[0]}"%>: </b><%="#{notification_message_tokens[2]}"%>
	</div>


	<small>debate: <%="#{notification_message_tokens[1]}"%></small>

	
</span>

<div class="timestamp">
	sent <%= time_ago_in_words(notification.created_at) %> ago.
</div>