<% if !get_viewpoint_from_new_viewpoint_notification(notification).published? %>
	<div class="publish">
		<%= link_to "publish vupnt", publish_path(get_viewpoint_from_new_viewpoint_notification(notification)), method: :put %>
	</div>
<% end %>
<div class="join">
	<%= link_to "join conversation", debate_url(get_debate_from_new_vupnt_notification(notification)) %>
</div>