<% if @argument_items.any? %>

	<ol class="debates">
		<%= render partial: 'shared/argument_item', collection: @argument_items %>
	</ol>

	<%= will_paginate @argument_items, page_links: false, class: "my_pagination" %>


<% end %>

<div class="row-fluid">
	<h3><%= link_to "back to debate", debate_path(@viewpoint.debate) %></h3>
</div>
