<%= render 'argument_form' %>

<% if @argument_items.any? %>

<div class="section-title">
votes so far...
</div>

	<ol class="debates">
		<%= render partial: 'shared/argument_item', collection: @argument_items %>
	</ol>

	<%= will_paginate @argument_items, page_links: false, class: "my_pagination" %>


<% end %>



<br />
<div class="row-fluid">
	<h3><%= link_to "back to conversation", debate_url(@viewpoint.debate) %></h3>
</div>
