<% if @is_up_vote %>
	<div class="alert alert-success">
<% else %>
	<div class="alert alert-error">
<% end %>
		<%= @viewpoint.desc %>
	</div>

<%= render 'argument_form' %>

<% if @argument_items.any? %>
	<% if @is_up_vote %>
		<h3>others voted it up saying...</h3>
	<% else %>
		<h3>others voted it down saying...</h3>
	<% end %>
	<ol class="debates">
    	<%= render partial: 'shared/argument_item', collection: @argument_items %>
  	</ol>
  	<%= will_paginate @argument_items, page_links: false, class: "my_pagination" %>
<% end %>