<% if @user.notifications.any? %>
  <div class="section-title">
  notifications
  </div>
  <ol class="debates">
    <%= render @notifications %>
  </ol>
  

<% else %>
	<div class="content">
		There are no notifications for you!
	</div>
<% end %>