
<% if @users.any? %>
  <section>
    <h2><%= link_to @user.name.downcase, user_path(@user) %></h2> 
  </section>
  <section>
    <%= render "/users/index" %>
  </section>
<% else %>

<% end %>
