
    <% if @user.debates.any? %>
      <h3>
      	my <%= pluralize(@user.debates.count, "debate") %>
      </h3>
      <ol class="debates">
        <%= render @debates %>
      </ol>
      <%= will_paginate @debates %>
    <% end %>
