<li id="<%= debate_invites_item.id %>">
  

    <div class="user">
      	<%= debate_invites_item.email %>
    </div>

    <div class="content">
    	<%= debate_invites_item.message %>
    </div>
  
    
    
</li>

<br />