<%= form_for(@debate) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 	
  <div class="field">
    <%= f.text_field :content, placeholder: "your topic...?" %>
  </div>
  <div class="center"><%= f.submit "start", class: "btn btn-large btn-primary" %></div>
<% end %>