<%= form_for(@debate) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 	
  <div class="field">
    <%= f.text_area :content, placeholder: "your topic...?", rows: 2 %>
  </div>
  <div class="center"><%= f.submit "start", class: "btn btn-small btn-primary" %></div>
<% end %>