
	<div class="section-title">
		start a conversation!
	</div>
	<%= form_for(@debate) do |f| %>

		<%= render 'shared/error_messages', object: f.object %>

		
			<div class="row-fluid">
				<%= f.text_area :content, rows: 2 %>
			</div>
			<div class="field-desc">
			a debate, a question, or just about anything on your mind... in 140 chars or less!
			</div>
		

		<div class="row-fluid center">
			<%= f.submit "start", class: "btn btn-large btn-primary" %>
		</div>

	<% end %>
