
	<div class="section-title">
		start a debate!
	</div>
	<%= form_for(@debate) do |f| %>

		<%= render 'shared/error_messages', object: f.object %>

		
			<div class="row-fluid">
				<%= f.text_field :content, placeholder: "your #topic? in 140 chars or less..." %>
			</div>
		

		<div class="row-fluid center">
			<%= f.submit "start", class: "btn btn-large btn-primary" %>
		</div>

	<% end %>
