
<% if @feed_items.any? %>

	<div class="section-title">
		recent updates!
	</div>

	<ol class="debates">
		<%= render partial: 'shared/feed_item', collection: @feed_items %>
	</ol>

<div class="center"><%= will_paginate @feed_items %></div>

<% end %>