<% if @viewpoints.any? %>
	<div class="section-title">
    	vupnts...
	</div>
  
  	<ol class="debates">
    	<%= render partial: 'shared/viewpoints_item', collection: @viewpoints %>
  	</ol>
  	
  	<%= will_paginate @viewpoints, page_links: false, class: "my_pagination" %>

<% else %>
	<% if current_user != @user %>
		<div class="alert">
			<%= "#{@user.name.downcase} has not posted any vupnts on this conversation!" %>
		</div>
	<% end %>
<% end %>