
  <% unless debate.viewpoints.published.empty? %>
    <div class="row-fluid">
      <div class="content win-position">
        <%= debate.viewpoints.published.first.desc  %>
      </div>
    </div>
  <% end %>

  <% unless (debate.viewpoints.published.empty? || debate.viewpoints.published.size == 1) %>
    <div class="row-fluid">
      <div class="content loss-position">
        <%= debate.viewpoints.published.last.desc  %>
      </div>
    </div>
  <% end %>