<% leading_view = get_leading_view(debate) %>
<% if leading_view %>
  	<div>
        <span class="label-green">leading view</span><%= leading_view  %>
	</div>
<% elsif tied_view(debate) %>
  	<div>
        <span class="label">tie</span><%= tied_view  %>
	</div>
<% else %>
  	<div>
        <span class="label-black">unresolved</span>
	</div>
<% end %>
