<div class="row-fluid">
  <div class="win-position">
    <div class="row-fluid">
      <div class="span1">
        <%= image_tag("thumbs_up.png")%>
      </div>
      <div class="span9">
        This is the winning position!
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="loss-position">
    <div class="row-fluid">
      <div class="span1">
        <%= image_tag("thumbs_down.png")%>
      </div>
      <div class="span9">
        This is the loosing position!
      </div>
    </div>
  </div>
</div>