
  <% unless debate.viewpoints.published.empty? %>
    <div class="row-fluid">
      <div class="content win-position">
        <%= debate.viewpoints.published.first.desc  %>
      </div>
    </div>
  <% end %>
