<li>
  <span class="content"><%= debate.content %></span>
  <span class="timestamp">
    <%= time_ago_in_words(debate.created_at) %> ago.
  </span>
  <% if current_user?(debate.user) %>
  	<%= link_to "delete", debate, method:  :delete,
                                     confirm: "You sure?",
                                     title:   debate.content %>
  <% end %>
  <%= render 'shared/win_loss_positions' %>

</li>