<li>

  <%= render partial: 'shared/debate_content', locals: {debate: debate} %>
  
  <%= render partial: 'shared/win_loss_positions', locals: {debate: debate} %>

  <%= render partial: 'shared/debate_item_actions', locals: {
      debate: debate, user: @user
      } %>
    
</li>
<br />