<div class="section-title">
	find debates
</div>
<div class="well">
  <%= form_tag(controller: :debates, action: :search) do %>
  	<%= text_field_tag 'topic', nil, placeholder: "#topic to search for...", maxlength: 10%>
  	<%= submit_tag "search", class: "btn btn-small btn-primary"%>  
  <% end %>
</div>