<% cache "deb_sea_1" do %>
	<div class="section-title">
		find conversations
	</div>
	<div class="form-search">
	  <%= form_tag(controller: :debates, action: :search) do %>
	  	<%= text_field_tag 'topic', nil, placeholder: "#topic to search for..." %>
	  	<div class="center">
	  		<%= submit_tag "search", class: "btn btn-large btn-primary"%>  
	  	</div>
	  <% end %>
	</div>
<% end %>
