<% cache "search-conversations-form" do %>
	<div class="section-title">
		find conversations
	</div>
	<div>
	  <%= form_tag(controller: :debates, action: :search) do %>
	  	<%= text_field_tag 'topic', nil, placeholder: "#topic to search for..." %>
	  	<%= submit_tag "search", class: "btn btn-small btn-primary"%>  
	  <% end %>
	</div>
<% end %>