
<% if signed_in? %>
<section>
	<%= render 'shared/debate_form' %>
</section>
 <div>
      <h3>Debates</h3>
      <%= render 'shared/feed' %>
</div>

<% else %>
<div class="center">
  	<h1>
  		your view counts!
  	</h1>
  	<h2>
  		what's your view? say. share. discuss.  
  	</h2>
	<%= link_to "sign up", signup_path, class: "btn btn-small btn-primary" %>

  	<%= link_to "sign in", signin_path, class: "btn btn-small btn-primary" %>
</div>
<% end %>
  
