<div class="center">
  	<h1>
  		welcome to vupoint!
  	</h1>
  	<h2>
  		what's your view? say. share. discuss.  
  	</h2>
	<%= link_to "sign up", '#', class: "btn btn-large btn-primary" %>

  	<%= link_to "sign in", '#', class: "btn btn-large btn-primary" %>
  
</div>
