<div class="center">
  	<h1>
  		your view counts!
  	</h1>
  	<h2>
  		what's your view? say. share. discuss.  
  	</h2>
	<p>the full site is coming soon. in the meantime, log on to <%= link_to "#{root_url}", root_url %> from your mobile phone</p> 
  
</div>